/* CSS Document */

a:link {
    color: #6666ff;
}

a:visited {
    color: #6666ff;
    text-decoration: none
}

a:hover {
    color: #0000FF;
}

a:active {
    color: #0000FF;
}

p {
    font-family: arial, sans-serif;
    font-size: 8pt;
}

.blue {
    color: #3274D1;
}

.gray {
    color: #404040;
}

.red {
    color: rgb(255, 6, 6);
}

.popup {
    position: absolute;
    padding: 12px;
    border-style: solid;
    border-width: 0.3mm;
    border-color: #aaaaaa;
    /*left: 180;
    top: 50;*/
    background-color: #F6F6F6;
    font-family: verdana, sans-serif;
    font-size: 10pt;
    text-align: left;
    line-height: 110%;
    visibility: hidden;
}

#options {
    left: 280px;
    /*left: 280;*/
    top: 10px;
}

#notations {
    left: 280px;
    /*left: 280;*/
    top: 10px;
}

#basecur {
    left: 290px;
    top: 15px;
}

#entry {
    left: 110px;
    top: 120px;
}

#pressedkey {
    left: 5px;
    top: 0px;
    border: none;
    font-size: 12pt;
    font-weight: bold;
}

.header2 {
    background: transparent;
    font-size: 11pt;
    font-weight: bold;
    color: #0000cc;
}

.title {
    background: transparent;
    position: relative;
    top: -10px;
    left: 10px;
    font-size: 240%;
    font-weight: bold;
    z-index: -1;
}

.subtitle {
    background: transparent;
    position: relative;
    top: 10px;
    left: 1px;
    font-size: 190%;
    font-weight: bold;
}

.htmlwindow {
    top: 10px;
    padding: 2px 2px 2px 2px;
    font-size: 120%;
}

label {
    width: 20px;
    float: left;
    padding: 5px 0 0 8px;
}

.label2 {
    /*menu*/
    width: 20px;
    float: left;
    font-weight: bold;
    margin-left: 0px;
}

.label5 {
    width: 25px;
    float: left;
    font-weight: bold;
    text-align: center;
}

.label3 {
    /*menushift label*/
    width: 35px;
    float: left;
    font-weight: bold;
    margin-left: 0px;
    /*padding: 0 0 0 8px;*/
}

.label4 {
    /*options*/
    width: 28px;
    float: left;
    font-weight: bold;
    margin-left: 0px;
}

.entryval {
    /*field for entry*/
    width: 128px;
    float: left;
    font-weight: bold;
    background-color: #FFFF66;
    border-style: solid;
    border-width: 0.3mm;
    border-color: #aaaaaa;
}

.display {
    font-size: 8pt;
    background-color: #FFFFCC;
    font-weight: bold;
}

.hide {
    display: none;
}

.hidex {
    display: none;
}

textarea {
    font-size: 11pt;
    height: 5mm;
    border: solid gray;
    border-color: #B3B3B3;
    border-width: 0.3mm;
    margin-left: 3px;
    overflow: auto;
    background-color: white;
    padding-top: 0.9mm;
    padding-left: 0.5mm;
    resize: none;
    padding-bottom: 0px;
    overflow: hidden;
}

textarea.stack {
    /*stack*/
    width: 447px;
    margin-left: 0px;
    padding-left: 1mm;
}

textarea.stacklong {
    /*stack*/
    width: 510px;
    margin-left: 0px;
    padding-left: 1mm;
}

textarea.stackx {
    /*stack*/
    width: 447px;
    margin-left: 0px;
    padding-left: 1mm;
    background-color: #FFFF66;
    font-weight: bold;
}

textarea.stackxlong {
    /*stack*/
    width: 510px;
    margin-left: 0px;
    padding-left: 1mm;
    background-color: #FFFF66;
    font-weight: bold;
}

textarea.opstack {
    /*stack*/
    width: 55px;
    margin-left: 0px;
    text-align: center;
}

textarea.opstackx {
    /*stack*/
    width: 55px;
    text-align: center;
    margin-left: 0px;
    background-color: #FFFF66;
    font-weight: bold;
}

textarea.result {
    /*stack*/
    font-size: 8pt;
    width: 520px;
    height: 3.6mm;
    background-color: transparent;
    margin-right: 3mm;
    margin-top: -2px;
    margin-bottom: 0px;
    overflow: hidden;
    border: none;
    float: right;
    text-align: right;
    padding-top: 0.1mm;
}

textarea.stacklabel {
    width: 35px;
    font-size: 8pt;
    font-family: verdana;
    height: 5mm;
    background: transparent;
    border: none;
    padding-top: 1mm;
}

textarea.status {
    /*status bars*/
    font-size: 8pt;
    font-family: verdana;
    width: 96%;
    height: 4.5mm;
    background-color: #e3e3e3;
    padding-left: 0.9mm;
    padding-bottom: 0.3mm;
    text-align: left;
    border: none
}

body {
    background-color: #F6F6F6;
    margin-left: 6mm;
    margin-right: 5mm;
    text-align: center;
    font-family: verdana, sans-serif;
    font-size: 8.5pt;
    line-height: 1.3;
    /*padding-top: 1em;*/
}

div#main_container {
    margin: 0 auto 0 auto;
    width: 570px;
    text-align: left;
}

div#box1 {
    /*header*/
    float: left;
    width: 100%;
    height: 9mm;
}

div#box11 {
    /*title*/
    float: left;
    padding-top: 0mm;
    padding-left: 12mm;
    width: 24%;
}

div#box12 {
    /*subtitle text*/
    float: left;
    width: 51%;
    padding-top: 4mm;
}

div#box13 {
    /*logo*/
    float: right;
    padding-right: 3mm;
}

div#box2 {
    /*Stack*/
    float: left;
    width: 100%;
    /*height: 64mm;*/
}

div#box3 {
    /*htmlWindows*/
    float: left;
    width: 100%;
    height: 60mm;
    font-size: 110%;
    vertical-align: bottom;
    margin-top: 15px;
}

div#box31 {
    /*html1*/
    background-color: white;
    padding: 6px;
    float: left;
    width: 31%;
    height: 56mm;
    vertical-align: bottom;
}

div#box32 {
    /*html2*/
    background-color: white;
    float: left;
    padding: 6px;
    width: 31%;
    height: 56mm;
    vertical-align: bottom;
}

div#box33 {
    /*html3*/
    background-color: white;
    float: left;
    padding: 6px;
    width: 31%;
    height: 56mm;
    vertical-align: bottom;
}

div#box4 {
    /*status*/
    margin-top: 2mm;
    float: left;
    width: 100%;
    height: 5.5mm;
    text-align: left;
}

div#box41 {
    float: left;
    width: 56px;
    margin-right: 7px;
    text-align: left;
}

div#box42 {
    /**/
    float: left;
    width: 76px;
    text-align: left;
    margin-right: 7px;
}

div#box43 {
    /**/
    float: left;
    width: 100px;
    text-align: left;
    margin-right: 6px;
}

div#box44 {
    /**/
    float: left;
    width: 316px;
    text-align: left;
}

div#box5 {
    /*status*/
    margin: 2mm;
    float: left;
    width: 100%;
    height: 4mm;
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 8pt;
    color: gray;
}
